<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goat.lotech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.MainTheme"
        android:allowBackup="true"
        android:icon="@drawable/launcher_lotech"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_lotech"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity android:name=".ui.activity.FoodQualityActivity" />
        <activity android:name=".ui.activity.EditProfileActivity" />
        <activity android:name=".ml.MLMainActivity" />
        <activity android:name=".ui.activity.ChatUserActivity" />
        <activity android:name=".ui.activity.lifestylefiture.lifestyledetail.LifestyleDetailActivity" />
        <activity android:name=".ui.activity.lifestylefiture.LifestyleActivity" />
        <activity android:name=".ui.activity.ConsultFindDetailActivity" />
        <activity android:name=".ui.activity.ConsultFindConsultant" />
        <activity android:name=".ui.activity.ConsultVerifyDetailActivity" />
        <activity android:name=".ui.activity.ConsultVerifyUserActivity" />
        <activity android:name=".ui.activity.ConsultAddExpertActivity" />
        <activity android:name=".ui.activity.ConsultDashboardActivity" />
        <activity android:name=".ui.activity.ForgotPasswordActivity" />
        <activity android:name=".ui.activity.SignUpActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:theme="@style/noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
    </application>
</manifest>